<h3><%=@figure.name%></h3>

<%@figure.titles.each do |t|%>
  <li><%= t.name %></li>
<%end%>

<%@figure.landmarks.each do |l|%>
  <li><%= l.name %> - Year Completed: <%= l.year_completed %></li>
<%end%>


<a href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
